* {
  margin: 0;
  padding: 0;
  font-family: trebuchet;
  box-sizing: border-box;
}
body {
  background: linear-gradient(rgb(5, 37, 220), darkgreen) no-repeat;
}
.logo {
  color: rgb(126, 203, 227);
  font-size: 15px;
  margin-left: 10px;
}
header {
  width: 100%;
  height: 80px;
  padding-left: 6px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  display: flex;
  background: linear-gradient(-25deg, rgb(119, 126, 126), darkgreen);
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
nav {
  display: flex;
  gap: 40px;
}
nav > a {
  border: none;
  border-radius: 12px;
  text-decoration: none;
  font-size: 22px;
  transition: 0.5s ease;
  font-family: serif;
  color: white;
  z-index: 0;
  position: relative;
  padding: 13px;
  margin: 10px;
  font-size: 20px;
}
nav > a::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(25deg, rgb(93, 132, 146), rgb(77, 117, 152));
  left: 0;
  top: 0;
  border-radius: 10px;
}
nav > a::before {
  content: "";
  background: linear-gradient(
    20deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
nav > a:hover::before {
  opacity: 1;
}
nav > a:active:after {
  background: transparent;
}
nav > a:active {
  color: #000;
  font-weight: bold;
}
nav > a:hover {
  background-color: transparent;
  color: white;
  cursor: pointer;
  transform: translateX(-5px) translateY(-3px);
}
@media screen and (max-width: 998px) {
  nav {
    position:absolute;
    top: 70px;
    right: 0;
    flex-direction: column;
    display: flex;
    transition: 1s ease-in-out;
    align-items: center;
  }

}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 3%;
  width: 100%;
}
.home-item {
  width: 50%;
}
a {
  text-decoration: none;
}
.p:hover {
  color: lightblue;
}
.p {
  color: whitesmoke;
  text-align: justify;
  transition: 0.6s ease;
  text-align: justify;
  font-size: 20px;
}
.home-item > h1:hover {
  letter-spacing: 2px;
}
.cv > a {
  height: 40px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: white;
  transform: translateX(-4px) translateY(-3px);
  font-size: 15px;
  background-color: rgb(95, 205, 154);
  font-family: sans-serif;
  transition: 0.5s ease;
  margin-top: 30px;
}
.cv > a::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.cv > a::before {
  content: "";
  background: linear-gradient(
    20deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100%);
  height: calc(100%);
  filter: blur(5px);
  animation: glowing 10s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}
.cv > a:hover {
  background-color: #ff90e8;
  color: black;
  transform: translateX(-4px) translateY(-3px);
}
.cv > a:hover::before {
  opacity: 1;
}
.cv > a:active:after {
  background: transparent;
}
.cv > a:active {
  color: #000;
  font-weight: bold;
}
.home-item > img {
  align-items: center;
  justify-content: center;
  width: 300px;
  border-radius: 50%;
  box-shadow: 1px 1px 50px rgb(90, 171, 202);
  transition: 0.8s ease-in-out;
}
.home-item > img:hover {
  box-shadow: 1px 1px 75px rgb(2, 220, 240);
  transform: scale(1.2);
}
.home-item > h3 {
  font-size: 30px;
  transition: 0.9s ease;
  letter-spacing: 2px;
  color: white;
}
.home-item > h3:hover {
  color: wheat;
}
.home-item > h1 {
  font-size: 50px;
  letter-spacing: 3px;
  transition: 0.7s ease-in;
  font-family: sans-serif;
  color: lightblue;
  padding-top: 12px;
  padding-bottom: 12px;
}
.home-item:nth-child(1) {
  margin-top: 50px;
  width: 72%;
}
.home-item:nth-child(2) {
  width: 28%;
}
.icon {
  margin-top: 20px;
  gap: 33px;
  display: flex;
  align-content: center;
}
.x > img:hover,
.link > img:hover,
.telegram > img:hover,
.you > img:hover,
.what > img:hover,
.git > img:hover {
  box-shadow: 2px 2px 35px black;
  background-color: wheat;
  border-radius: 50px;
}

.x > img,
.link > img,
.telegram > img,
.you > img,
.what > img,
.git > img {
  width: 35px;
  transition: 0.7s ease-in-out;
}
@media screen and (max-width: 992px) {
  .home-container {
    flex-direction: column-reverse;
    gap: 3rem;
  }
}

footer {
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 12px;
  color: lightblue;
}
